prometheus/queries.active
prometheus/chunks_head/000001
prometheus/lock
prometheus/chunks_head/000002
prometheus/wal/00000000
prometheus/wal/00000001
prometheus/wal/00000002
prometheus/wal/00000003
prometheus/wal/00000004
prometheus/wal/00000005
prometheus/wal/00000006
grafana/grafana.db
prometheus/01J825RF0QP245CKSKR6A3GS08/index
prometheus/01J825RF0QP245CKSKR6A3GS08/meta.json
prometheus/01J825RF0QP245CKSKR6A3GS08/tombstones
prometheus/01J825RF0QP245CKSKR6A3GS08/chunks/000001
prometheus/01J8317CFEAGWXP04P7XYBJMW1/index
prometheus/01J8317CFEAGWXP04P7XYBJMW1/meta.json
prometheus/01J8317CFEAGWXP04P7XYBJMW1/tombstones
prometheus/01J8317CFEAGWXP04P7XYBJMW1/chunks/000001
prometheus/01J83NTJNM4VKKD8GXDEEJE7F1/index
prometheus/01J83NTJNM4VKKD8GXDEEJE7F1/meta.json
prometheus/01J83NTJNM4VKKD8GXDEEJE7F1/tombstones
prometheus/01J83NTJNM4VKKD8GXDEEJE7F1/chunks/000001
prometheus/01J843HZZS50HGHW05Q4B1SN6Q/index
prometheus/01J843HZZS50HGHW05Q4B1SN6Q/meta.json
prometheus/01J843HZZS50HGHW05Q4B1SN6Q/tombstones
prometheus/01J843HZZS50HGHW05Q4B1SN6Q/chunks/000001
prometheus/01J84ADQ7RK33BTARS6A3WBPWM/index
prometheus/01J84ADQ7RK33BTARS6A3WBPWM/meta.json
prometheus/01J84ADQ7RK33BTARS6A3WBPWM/tombstones
prometheus/01J84ADQ7RK33BTARS6A3WBPWM/chunks/000001
prometheus/01J84ADQBG250E8NJJTNA4W2PP/index
prometheus/01J84ADQBG250E8NJJTNA4W2PP/meta.json
prometheus/01J84ADQBG250E8NJJTNA4W2PP/tombstones
prometheus/01J84ADQBG250E8NJJTNA4W2PP/chunks/000001
prometheus/01J84H9EFXMPN9VD22DE4A3XSN/index
prometheus/01J84H9EFXMPN9VD22DE4A3XSN/meta.json
prometheus/01J84H9EFXMPN9VD22DE4A3XSN/tombstones
prometheus/01J84H9EFXMPN9VD22DE4A3XSN/chunks/000001
prometheus/chunks_head/000013
prometheus/chunks_head/000014
prometheus/chunks_head/000015
prometheus/wal/00000029
prometheus/wal/00000030
prometheus/wal/00000031
prometheus/wal/00000032
prometheus/wal/checkpoint.00000028/00000000
